.catalog {
  padding: 27px 0 0 0;
  overflow: hidden;

  border-top: 1px solid $color-gainsboro;

  @media (min-width: $vp-768) {
    border: none;
  }

  @media (min-width: $vp-1024) {
    border: none;
  }
}

.catalog__title {
  margin: 0 0 41px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $ff-oswald;
  color: $color-default-black;

  @media (min-width: $vp-768) {
    margin: 0 0 82px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 84px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;
  margin: 0 -20px 0 -20px;
  padding: 0;

  grid-template-columns: 1fr;

  @media (min-width: $vp-768) {
    margin: 0;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1024) {
    gap: 63px 6%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding: 19px 20px 25px 20px;

  border-top: 1px solid $color-whisper;
  border-bottom: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    flex-direction: column;
    align-items: center;
    padding: 8px 36px 36px 36px;

    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 81px;
      left: 0;
      z-index: -1;

      display: block;
      width: 100%;
      height: calc(100% - 81px);

      background-color: $color-white-smoke;
    }
  }

  @media (min-width: $vp-1024) {
    padding: 1px 15% 40px 15%;

    border: none;
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 112px;

  @media (min-width: $vp-768) {
    min-height: 200px;
  }
}

.catalog__img-link {
  text-decoration: none;
}

.catalog__item-content {
  width: 50%;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__card-title {
  max-width: 80px;
  margin: 0 0 18px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 150px;
    margin: 0 0 15px 0;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-1024) {
    max-width: 150px;
    margin: 0 0 17px 0;

    font-size: 20px;
    line-height: 21px;
    text-align: center;
  }
}

.catalog__description-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.catalog__description-wrapper {
  display: grid;
  width: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  gap: 20px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    padding: 6px 0 9px 0;

    font-size: 16px;
    line-height: 16px;
    text-align: center;

    border-bottom: 1px solid $color-light-grey;
  }

  @media (min-width: $vp-1024) {
    padding: 5px 5px 8px 5px;

    font-size: 16px;
    line-height: 16px;
    text-align: center;

    border-bottom: 1px solid $color-light-grey;
  }
}

.catalog__description-term {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: left;
  color: $color-charcoal;
}

.catalog__description-definition {
  margin: 0;
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: right;
  color: $color-charcoal;
}

.catalog__button {
  width: 100%;
  margin-top: 13px;
  padding: 10px 109px 10px 109px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;

  @media (min-width: $vp-768) {
    margin-top: auto;
    padding: 10px 93px 10px 93px;
  }

  @media (min-width: $vp-1024) {
    padding: 10px 53px 10px 53px;
  }
}
