.comment {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
  }
}

.comment__title {
  font-family: $ff-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-default-black;
  text-transform: none;
  z-index: 1;

  margin: 26px 0 35px 0;
  position: relative;

  @media (min-width: $vp-768) {
    margin: 71px 0 76px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $vp-1024) {
    margin: 69px 0 76px 0;
    font-size: 36px;
    line-height: 36px;
  }

  span {
    background-color: #fff;
    padding: 0 20px 0 20px;
    margin: 0 -20px 0 -20px;
    display: inline-flex;
  }
}

.comment__title::before {
  content: "";
  position: absolute;
  display: block;
  top: 16px;
  left: -100vw;
  width: 200vw;
  height: 2px;
  background-color: $color-apple;
  z-index: -1;

  @media (min-width: $vp-1024) {
    top: 20px;
  }
}

.comment__input {
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-charcoal;

  resize: none;
  width: 100%;
  padding: 9px 15px 9px 12px;
  min-height: 150px;

  padding: 14px 20px 13px 20px;
  flex-grow: 1;
  border: 1px solid $color-whisper-1;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 11px 20px;
  }
}
