.intro-wrapper {
  @media (min-width: $vp-1024) {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }
}

.intro-wrapper::before {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba($color-apple, 0.7);
    z-index: -1;
  }
}

.intro-wrapper::after {
  @media (min-width: $vp-1024) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../img/content/index/index-background-cat.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
