.living-example {
  margin: 0;
  padding: 25px 0 40px 0;
  background-color: $color-light-whisper;
  overflow: hidden;

  @media (min-width: $vp-768) {
    padding: 43px 0 101px 0;
    background-color: $color-default-white;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 0 0;

    font-size: 60px;
    line-height: 60px;
    padding: 0;
  }
}

.living-example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $ff-oswald;
  color: $color-default-black;
  margin: 0 0 40px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 63px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 76px 0;

    font-size: 60px;
    line-height: 60px;
    width: 100%;
    position: relative;
    z-index: 4;
  }
}

.living-example__wrapper {
  margin: 0;
  @media (min-width: $vp-1024) {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-default-white;
  }
}

.living-example__content {
  position: relative;
  z-index: 1;

  @media (min-width: $vp-1024) {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
    padding: 70px 0 75px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 200vw;
      height: 100%;

      background-color: $color-white-smoke;
      transform: translateX(-50%);
    }
  }
}

.living-example__description {
  font-weight: 400;
  font-size: $fz-default;
  line-height: 18px;
  font-family: $ff-lato;
  color: $color-charcoal;

  margin: 0 0 20px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1024) {
    margin: 0 0 69px 0;

    font-size: 16px;
    line-height: 24px;
  }
}
