.living-example {
  margin: 0;
  background-color: $color-light-whisper;
}

.living-example__title {
  font-family: $ff-oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $color-default-black;
}

.living-example__wrapper {
  margin: 0;
}

.living-example__description {
  font-family: $ff-lato;
  font-size: $fz-default;
  line-height: 18px;
  font-weight: 400;
  color: $color-charcoal;
}
