.main-footer {
  padding: 40px 0;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding: 65px 0 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__link:not(.main-footer__link--current) .main-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
