.preferences {
  margin: 0;
}

.preferences__title {
  font-family: $ff-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-default-black;
}

.preferences__list {
  list-style-type: none;
}

.preferences__item {
  margin: 0;
}

.preferences__control-input {
  margin: 0;
}

.preferences__label {
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-default-black;
}
