.preferences {
  margin: 0;
  padding: 22px 0 0 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
    padding: 65px 0 0 0;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 30px;
    padding: 67px 0 0 0;
  }
}

.preferences__title {
  font-family: $ff-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-default-black;

  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;

  position: relative;
  z-index: 1;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $vp-1024) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 57px 0;
  }

  span {
    background-color: $color-default-white;
    padding: 0 20px 0 20px;
    margin: 0 -20px 0 -20px;
    display: inline-flex;
  }
}

.preferences__title::before {
  content: "";
  position: absolute;
  display: block;
  top: 16px;
  left: -100vw;
  width: 200vw;
  height: 2px;
  background-color: $color-apple;
  z-index: -1;

  @media (min-width: $vp-1024) {
    top: 20px;
  }
}

.preferences__list {
  list-style-type: none;
}

.preferences__item {
  margin: 0;
}

.preferences__control-input {
  margin: 0;
}

.preferences__label {
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-default-black;
}
