.program-type {
  margin: 0;
}

.program-type__list {
  list-style-type: none;
}

.program-type__item {
  margin: 0;
}

.program-type__control-input {
  margin: 0;
}

.program-type__label {
  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-nero;
}

.program-type__item {
  margin: 0;
}

.program-type__control-input {
  margin: 0;
}
