.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17px;
  padding: 23px 0 17px 0;

  list-style-type: none;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-gainsboro;

  gap: 27px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin: 0 55px 0px 75px;
    padding: 0;

    border: none;
  }
}

.social__link {
  &:hover svg {
    fill: $color-apple;
  }

  &:active svg {
    fill: rgba($color-apple, 30%);
  }
}

.social__svg {
  fill: $color-dim-gray;
}
