// Colors
//---------------------------

// Default

$color-default-black:        #000000;
$color-default-white:        #ffffff;

// Project palette

$color-apple:                #68b738;
$color-white-smoke:          #f2f2f2;
$color-whisper:              #ebebeb;
$color-light-grey:           #cdcdcd;
$color-dim-gray:             #666666;
$color-charcoal:             #444444;
$color-nero:                 #222222;
$color-light-coral:          #ff8282;
$color-limeade:              #5eaa2f;
$color-black:                #111111;
$color-light-whisper:        #eaeaea;
$color-gainsboro:            #d9d9d9;
$color-whisper-1:            #e7e7e7;


//Typography
//---------------------------

$fz-default:                  14px;

$ff-lato:                     "Lato","Arial","sans-serif";
$ff-oswald:                   "Oswald","Arial","sans-serif";

//Viewports
//---------------------------

$vp-768:                        768px;
$vp-1024:                       1024px;
