// Colors
//---------------------------

// Default

$color-default-black:        #000000;
$color-default-white:        #ffffff;

// Project palette

$color-apple:                #68B738;
$color-white-smoke:          #F2F2F2;
$color-whisper:              #EBEBEB;
$color-light-grey:           #CDCDCD;
$color-dim-gray:             #666666;
$color-charcoal:             #444444;
$color-nero:                 #222222;
$color-light-coral:          #FF8282;
$color-limeade:              #5EAA2F;
$color-black:                #111111;
$color-light-whisper:        #EAEAEA;

//Typography
//---------------------------

$fz-default:                  14px;

$ff-lato:                     "Lato","Arial","sans-serif";
$ff-oswald:                   "Oswald","Arial","sans-serif";
